<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Sighting</title>
</head>
<body>
    <h1>Sasquatch Websighting {{ session.user_name }}</h1>
    <div>
        <a href="/sightings/home">Dashboard</a>
        <a href="/logout">Log Out</a>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <form action="/sighting/{{ sighting.id }}" method="post">
        <div>
            <label for="location">location</label>
            <input type="text" name="location" id="location" value="{{ sighting.location }}">
        </div>
        <div>
            <label for="discription">What Happened:</label>
            <textarea type="text" name="discription" id="discription" rows="5">{{ sighting.discription }}</textarea>
        </div>
        <div>
            <label for="sighting_date">Date Made:</label>
            <input type="date" name="sighting_date" id="sighting_date" value="{{ sighting.sighting_date }}">
        </div>
        <div>
            <label for="number_of"># of Sasquatches:</label>
            <input type="number" name="number_of" id="number_of" value="{{ sighting.number_of }}">
        </div>
        <input type="hidden" name="id" value="{{ sighting.id }}">
        <div>
            <input type="submit" value="Submit">
        </div>
</body>
</html>