<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Sighting</title>
</head>
<body>
    <h1>Sasquatch Websighting {{ session.user_name }}</h1>
    <div>
        <a href="/sightings/home">Dashboard</a>
        <a href="/logout">Log Out</a>
    </div>
    <h2>{{ sighting.location }} on {{ sighting.sighting_date }}</h2>
    <div>
        <p >What Happened:</p>
        <p>{{ sighting.discription }}</p>
    </div>
    <div>
        <p># of Sasquatches: {{ sighting.number_of }}</p>
    </div>
    <div>
        <p>Reported by: {{sighting.user.first_name}} {{sighting.user.last_name}}</p></p></p>
    </div>
</body>
</html>